
<!--

MISIÓN
Propiciar un espacio virtual de humanización y solidaridad, con el que se busca facilitar el proceso de adopción de una mascota, pensando siempre en el bienestar de los perros en adopción y en la oportunidad que esto simboliza frente a la problemática que representa la actual sobrepoblación de perros callejeros.

VISIÓN
Seguiremos construyendo nuestro futuro, siendo una fundación sin ánimo de lucro, reconocida en Colombia y con presencia en Latinoamérica, por el servicio que brindamos, generando relaciones duraderas con nuestros usuarios y pensando siempre en el bienestar de nuestros amigos cuadrúpedos.

-->
<div class="jumbotron">
  <div class="container">
    <h1>Adopta un milagro</h1>

    <div class="row">
      <div class="col-md-6">
        <h2>Misión</h2>
        <p class="text-justify">Propiciar un espacio virtual de humanización y solidaridad, con el que se busca facilitar el proceso de adopción de una mascota, pensando siempre en el bienestar de los perros en adopción y en la oportunidad que esto simboliza frente a la problemática que representa la actual sobrepoblación de perros callejeros. </p>

      </div>
      <div class="col-md-6">
        <h2>Visión</h2>
        <p class="text-justify">Seguiremos construyendo nuestro futuro, siendo una fundación sin ánimo de lucro, reconocida en Colombia y con presencia en Latinoamérica, por el servicio que brindamos, generando relaciones duraderas con nuestros usuarios y pensando siempre en el bienestar de nuestros amigos cuadrúpedos. </p>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2>Anderson Toro Muriel</h2>
      <p>CODIGO: 1255461 </p>

    </div>
    <div class="col-md-4">
      <h2>Stiven Serna Saldarriaga</h2>
      <p>CODIGO: 1255522 </p>

    </div>
    <div class="col-md-4">
      <h2>Mauricio Mahecha</h2>
      <p>CODIGO: 1255539</p>
    
    </div>
  </div>
</div>
<br>
<br>
