<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <br>
    <br>
    <div class="embed-responsive embed-responsive-16by9">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/CtKTsp0LHAQ" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
</div>
